.partido-min-caja {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.ver:hover {
    border: solid rgb(255, 255, 255) 2px;
    background-color: #a6a6a6;
    color: rgb(255, 255, 255);
    background-color: #ffb158;  }

    .ver {
        background-color: #ffca8e;
    
        /* Color de fondo azul */
        color: #000000;
        /* Color de texto blanco */
        border: solid rgb(255, 255, 255) 2px;
        color: #000000;
        cursor: pointer;
        font-size: 16px;
        padding: 5px 7px;
        text-decoration: none;
        border-radius: 4px;
        /* Hacer el botón redondo */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        /* Sombra */
        cursor: pointer;
        /* Cambiar el cursor al pasar sobre el botón */
        transition: background-color 0.3s ease;
      }





.partido-equipo-caja2 {
    width: 50%;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #30aa00, #84ff6b);
    padding-left: 10px;
    padding-right: 10px;
    font-size: 10px;    
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 5px;
    align-items: center;



}

.partido-equipo-caja1 {
    padding-left: 10px;
    padding-right: 10px;    
    width: 50%;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #f95353, #ff0000);
    background-position: center;
    font-size: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 5px;

}