.partido-min-caja {
    margin: 5px;
    display: flex;

}
.versus{
    font-size: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;
}
.ver {
    background-color: grey;
    align-content: center;
    justify-content: center;
    text-align: center;
    height: 50px;
    transition: background-color 0.3s ease; /* Agrega una transición suave */
}

.ver:hover {
    background-color: darkgrey; /* Cambia el color de fondo al hacer hover */
}

.icon{
    margin-bottom: -5px;
}
.partido-equipo-caja2 {
    width: 50%;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #30aa00, #84ff6b);
    padding-left: 10px;
    padding-right: 10px;
    font-size: 10px;    
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 5px;


}

.partido-equipo-caja1 {
    padding-left: 10px;
    padding-right: 10px;    
    width: 50%;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #f95353, #ff0000);
    background-position: center;
    font-size: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 5px;

}